
<form method="post">
    <p>Write in password for file</p>
    <input type="text" name="id" value="@ViewBag.IdFile" hidden />
    <input type="password" name="password" value="@ViewBag.PassFile" />
    <input type="submit" />
</form>